Signing:  signing certificate validation for timestamps

Timestamp signature verification is [incomplete](https://github.com/NuGet/NuGet.Client/blob/bf5457061e37600bc9207ba244153ab8b818f239/src/NuGet.Core/NuGet.Packaging/Signing/Verification/SignatureTrustAndValidityVerificationProvider.cs#L123).

If a timestamp signature has the `signing-certificate-v2` attribute [[RFC 5126](https://tools.ietf.org/html/rfc5126.html#section-5.7.3.2)], then all certificates identified through the attribute must be present in the certificate chain built for the timestamp signing certificate.  If a timestamp signature does not have the `signing-certificate-v2` attribute but instead has the `signing-certificate` [[RFC 2634](https://tools.ietf.org/html/rfc2634)] attribute, then all certificates identified through the attribute must be present in the certificate chain built for the timestamp signing certificate.

Because [RFC 3161](https://tools.ietf.org/html/rfc3161) does not require that timestamp signatures include all certificates from the signing certificate chain, validation must not require that all certificates in the built chain be identified through the attribute.

CC @mishra14, @PatoBeltran