Test with self-issued certificate didn't set KeyCertSign nor CrlSign 

From [RFC 5280, section 4.2.1.3](https://tools.ietf.org/html/rfc5280#section-4.2.1.3):
```
   If the keyUsage extension is present, then the subject public key
   MUST NOT be used to verify signatures on certificates or CRLs unless
   the corresponding keyCertSign or cRLSign bit is set.
```
But SigningTestUtility.cs will generate self-issued certificate without setting IsCA=true, so X509KeyUsageFlags.CrlSign and X509KeyUsageFlags.KeyCertSign are not set. 
(It will generate PartialChain status when chain build on such self-issued certificate.)