Signing:  commitment-type-indication attribute incorrect

PR https://github.com/NuGet/NuGet.Client/pull/1935 was incorrect.

Attribute values are of type `CommitmentTypeAttribute` [RFC 5126](https://tools.ietf.org/html/rfc5126#section-5.11.1) not `CommitmentTypeQualifier`.

Also, as part of `commitment-type-indication` validation we use [`GetAttributeOrDefault(...)`](https://github.com/NuGet/NuGet.Client/blob/43e1741f5c19939da081ed243b6e41ab52b7bdd5/src/NuGet.Core/NuGet.Packaging/Signing/Utility/AttributeUtility.cs#L78) which is incorrect for the `commitment-type-indication` attribute.

CMS ([RFC 5652](https://tools.ietf.org/html/rfc5652#section-5.3)) does not place general lower or upper limits on either the count of attributes with the same OID or on the count of attribute values for a particular attribute.  Instead, individual attribute definitions define these limits, if at all.  For example, the [`signing-time` attribute definition](https://tools.ietf.org/html/rfc5652#section-11.3) explicitly prohibits multiple instances of the attribute and requires that that attribute instance have exactly one attribute value.

The definition for the `commitment-type-indication` attribute neither limits the number of attribute instances nor requires an attribute value.

Here is a summary of the attributes NuGet package signing currently uses and their explicit restrictions (if any) by attribute definition:

* `commitment-type-indication` attribute [[RFC 5126](https://tools.ietf.org/html/rfc5126#section-5.11.1)]
  * no restriction on attribute instance count
  * no restriction on attribute value count

* `signing-time` attribute [[RFC 5652](https://tools.ietf.org/html/rfc5652#section-11.3)]
  * attribute instance count is upper bounded at 1
  * attribute value count must be exactly 1

* `signature time-stamp` attribute [[RFC 5126](https://tools.ietf.org/html/rfc5126#section-6.1)]
  * no restriction on attribute instance count
  * no restriction on attribute value count

* `signing-certificate` attribute [[RFC 5035](https://tools.ietf.org/html/rfc5035#section-5)]
  * attribute instance count is upper bounded at 1
  * attribute value count must be exactly 1

* `signing-certificate-v2` attribute [[RFC 5035](https://tools.ietf.org/html/rfc5035#section-3)]
  * the attribute instance count is upper bounded at 1
  * the attribute value count must be exactly 1

The `signing-certificate` and `signing-certificate-v2` attribute limits are currently enforced.